# --- Pastas de Compilação ---
target/
bin/
out/
build/

# --- Arquivos da IDE (IntelliJ, VS Code, STS) ---
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated
.sts4-cache
.springBeans

# --- Maven Wrapper ---
.mvn/wrapper/maven-wrapper.jar

# --- Outros ---
HELP.md
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/